<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/sign_up.css" />
    <link rel="stylesheet" href="/static/css/errormessage.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire signup</title>
  </head>

  <body>
    <header>
      <a href="/">Forum</a>
      <a href="/logorsign">Log / Sign</a>
    </header>

    <div class="container">
      <h2>Sign-in</h2>
      <form method="post" action="/sign_up">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <button type="submit">Send</button>
        </div>
        {{if .Errors}}
        <div class="error-message">
          {{range .Errors}}
          <p>{{.}}</p>
          {{end}}
        </div>
        {{end}}
      </form>
    </div>
  </body>
</html>
