<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/write_discussion.css" />
    <link rel="stylesheet" href="/static/css/errormessage.css" />
    <link rel="stylesheet" href="/static/css/sign_up.css" />

    <title>Write a Report</title>
    <title>Créer un ticket</title>
</head>

<body>
    <h1>Write a Ticket</h1>
    <form action="/create_ticket" method="post" enctype="multipart/form-data">
        <div class="container">
            <label for="sujet">Sujet:</label>
            <input type="text" id="sujet" name="sujet" required /><br />

            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea><br />

            <label for="probleme">Problème:</label>
            <select id="probleme" name="probleme">
                <option value="Contenu inapproprié">Contenu inapproprié</option>
                <option value="Spam">Spam</option>
                <option value="Harcèlement ou intimidation">Harcèlement ou intimidation</option>
                <option value="Tentatives de fraude ou d'arnaque">Tentatives de fraude ou d'arnaque</option>
                <option value="Publication de renseignements personnels">Publication de renseignements personnels
                </option>
            </select>

            <div class="back-to-home">
                <a href="/">Back to Home</a>
            </div>

            <!-- ... other form fields ... -->

            <input type="file" id="file-input" name="file" accept=".jpeg, .png, .gif" />
            <br />
            <input type="submit" value="Create Report" />
    </form>

    {{ if .FormErrors }}
    <div class="error-message">
        <ul>
            {{ range .FormErrors }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    </div>
</body>

</html>