<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/write_discussion.css" />
    <link rel="stylesheet" href="/static/css/errormessage.css" />
    <link rel="stylesheet" href="/static/css/sign_up.css" />

    <title>Write a Discussion</title>
    <title>Créer une discussion</title>
  </head>
  <body>
    <h1>Write a Discussion</h1>
    <form
      action="/create_discussion"
      method="post"
      enctype="multipart/form-data"
    >
    
      <div class="container">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required /><br />

      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea><br />

      <form action="/GetAllFilters" method="GET">
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="">All Categories</option>
            {{range .Discussions}}
            <option value="{{.Category}}">{{.Category}}</option>
        {{end}}
            <!-- Ajoutez d'autres options de catégorie ici -->
    </form>

      <div class="back-to-home">
        <a href="/">Back to Home</a>
      </div>

      <!-- ... other form fields ... -->

      <input
        type="file"
        id="file-input"
        name="file"
        accept=".jpeg, .png, .gif"
      />
      <br />
      <input type="submit" value="Create Discussion" />
    </form>
 

    

      {{ if .FormErrors }}
      <div class="error-message">
        <ul>
          {{ range .FormErrors }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </body>
</html>
